@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
body{
    background:url("/Background/Background.png");
    background-repeat: no-repeat;
    position:relative;
    background-attachment: fixed;
    background-size: cover; 
    margin:0px;
}
.box{
    margin-top: 70px;
    width: fit-content;
    border-color: black;
    background-color: rgb(251, 247, 247);
    border: 10px double black;
    border-radius: 70px;
    padding: 0px 50px;
}
.log{
    width:80%;
    height: 45px;
    background-color: #03bafc;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    border:none;
    cursor:pointer;
}
.reg{
    width:80%;
    height: 45px;
    background-color: #1226de;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    border:none;
    cursor:pointer;
}
#logo{
    border-radius: 100px;
    border: 5px double black;
    margin-top: 20px;
    margin-bottom: 10px;
    width:150px;
}
p{
    margin:1px;
    color:grey;
    font-family:cursive;
}
hr{
    margin:1px;
}
.inp{
    width:100%;
    height:30px;
    padding-left:5px;
    background-color:#566573;
    color:#FFFFFF;
    font-size:20px;
    border:1px solid black;
    border-radius:5px;
    margin-bottom:10px;
}
#hide{
    margin-left:-30px;
    color:white;
    cursor:pointer;
}
#check
{
    zoom:1.5;
    cursor:pointer;
}
.hype
{
    color:black;
    text-decoration: none;
    font-weight:900;
    cursor:pointer;
}